*.sublime-*
*_template.js
.npm-debug.log
.*.swp
.*.swo
.settings-*
coverage.html
bower_components
node_modules
tags
www/src/
www/css/
www/images
www/favicon.ico
tmp/**/*
buildtmp
jslint.xml
xunit.xml
/tmp
webkitbuilds
